# Welcome to Homework II

### Please read the instructions in both the instructions.pdf (on Moodle) and in this notebook very carefully!

**The following instructions are binding**:

* Other than ```pandas```, no further other library imports are allowed. Both third-party imports and builtin modules are not allowed.
* Do not delete any of the ````%%writefile```` or ```%run``` statements.
* The cells containing the function definitions and the ```%%writefile``` magic should not have any other code than the function definition and the pre-defined statements including ```%writefile``` and ```import pandas as pd```/```from typing import ...```.  Make sure that the cell defining the function is cleared of other code after implementing the function code.
* Replace the `pass` placeholder with your own code.
* Do **not** change any function names.
* Do **not** modify or remove any existing line of code within each function, except that you may remove the `pass` placeholder.
* Ensure each function receives the required input and returns the required output.
* Answer the questions in order and and comment your code.

## Student Number #1: ________

## Student Number #2: ________

## Library import

In [50]:
import pandas as pd

# Part I

#### 1) Create the **`load_retail_data(filepath: str)`** function which loads the Online Retail file (onlineretail.csv) into a pandas DataFrame and returns it. Call this function and save the result into a DataFrame called **`df`**:

In [51]:
%%writefile load_retail_data.py
import pandas as pd

def load_retail_data(filepath: str) -> pd.DataFrame:
    """Returns the onlineretail dataframe if the provided directory path to the csv is valid, otherwise it raises an error.
    - If using global Windows paths, prefix string with 'r'"""
    try:
        safepath = filepath.strip().replace("\\", "/") # to handle different types of filepaths and backspaces at the ends
        return pd.read_csv(safepath, encoding="latin-1")
    except Exception as error_class:
        print(load_retail_data.__doc__) #to also get the Windows path warning with the error
        raise ValueError("Invalid input") from error_class

Overwriting load_retail_data.py

In [52]:
%run load_retail_data.py

# Use the loading function with the file path. Replace '...' with the path to 'onlineretail.csv'
df = load_retail_data("teste\onlineretail.csv")

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 2) Create the **`missing_values_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain null values in the** **`CustomerID`** **or** **`Description`** **columns.** Ensure that only nulls in these two columns are dropped, without affecting rows that have null values in other columns.

In [53]:
%%writefile missing_values_cleaner.py
import pandas as pd

def missing_values_cleaner(df) -> pd.DataFrame:
    """Returns the input dataframe with all rows corresponding to a null 'CustomerID' or 'Description' value removed."""
    df = df.copy()
    
    mask = ~(df["CustomerID"].isna() | df["Description"].isna()) #creates True or False mask for our condition
    df = df[mask] #keeps only True, thats why we use the NOT operator previously

    return df

Overwriting missing_values_cleaner.py

#### Call your `missing_values_cleaner` function on the original `df` below to view the results:

In [54]:
%run missing_values_cleaner.py
# Here the correct arguments should be added

missing_values_cleaner(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 3) Create the **`quantity_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain negative or 0 values in the** **`Quantity`** **column.**

In [55]:
%%writefile quantity_handler.py
import pandas as pd

def quantity_handler(df) -> pd.DataFrame:
    """Returns the input dataframe stripped of rows with negative or null values in the 'Quantity' column."""
    df = df.copy()
    
    df=df[df["Quantity"] > 0]
    return df

Overwriting quantity_handler.py

#### Call your `quantity_handler` function on the original `df` below to view the results:

In [56]:
%run quantity_handler.py
# Here the correct arguments should be added
quantity_handler(df).shape

(531285, 8)

#### 4) Create the **`amount_spent_computer`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame with an added column named** **`amount_spent`**. This column should represent the product of **`Quantity`** and **`UnitPrice`**.

In [57]:
%%writefile amount_spent_computer.py
import pandas as pd

def amount_spent_computer(df) -> pd.DataFrame:
    """Return the input dataframe with a new column 'amount_spent' by multiplying the 'Quantity' and 'UnitPrice' columns"""
    df = df.copy()
    
    df["amount_spent"] = df["Quantity"] * df["UnitPrice"]
    return df

Overwriting amount_spent_computer.py

#### Call your `amount_spent_computer` function on the original `df` below to view the results:

In [58]:
%run amount_spent_computer.py

# Here the correct arguments should be added
amount_spent_computer(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

#### 5) Create the **`date_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame without any invoices from the year 2011.**

In [59]:
%%writefile date_handler.py
import pandas as pd

def date_handler(df) -> pd.DataFrame:
    """Returns the input dataframe without any invoices from the year 2011."""
    df=df.copy()
    
    df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

    invalid = df[df["InvoiceDate"].isna()] #check if any date rows couldn't be parsed and were converted to NaT
    if len(invalid) != 0:
        print("Some rows could not be converted to datetime:")
        print(invalid)
    
    df = df[df["InvoiceDate"].dt.year != 2011]
    return df

Overwriting date_handler.py

#### Call your `date_handler` function on the original `df` below to view the results:

In [60]:
%run date_handler.py
# Here the correct arguments should be added
date_handler(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

#### 6) Create the **`data_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after cleaning.** The cleaning process must follow the instructions provided inside the function.

In [61]:
%%writefile data_cleaner.py
import pandas as pd
from missing_values_cleaner import missing_values_cleaner
from quantity_handler import quantity_handler
from amount_spent_computer import amount_spent_computer
from date_handler import date_handler

def data_cleaner(df) -> pd.DataFrame:
    
    """
    
    This function receives a Pandas DataFrame as input.

    First, pass the input DataFrame `df` to the `missing_values_cleaner`
    function, and store its output in a new variable called `clean`.
    Then, pass `clean` to the `quantity_handler` function and store its
    output (you may reuse the variable name `clean`).

    Next, pass the resulting DataFrame to the `amount_spent_computer`
    function, and then to the `date_handler` function. Finally, return
    the fully cleaned DataFrame.
    
    """
    df=df.copy()

    clean = missing_values_cleaner(df)
    no_negative_quantities = quantity_handler(clean)
    df_amount_spent = amount_spent_computer(no_negative_quantities)
    no_2011 = date_handler(df_amount_spent)

    return no_2011

Overwriting data_cleaner.py

#### Now, before we proceed. We will clean our data using your **`data_cleaner`** function.

In [62]:
%run data_cleaner.py
# Here the correct arguments should be added
df = data_cleaner(df)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

#### 7) Create the **`top_five_cust`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have placed the highest number of orders.** Note that the same invoice number (`InvoiceNo`) represents a single order, even if it appears across multiple rows! Be careful with these repetitions ;)

In [63]:
%%writefile top_five_cust.py
import pandas as pd

def top_five_cust(df) -> list:
  """Returns the top 4 customer who have placed the highest number of orders from the input dataframe."""
    
  df = df.copy()

  grouped = (
    df.groupby("InvoiceNo", as_index=False)
      .agg({
          "CustomerID": "first",
          "InvoiceDate": "first",
          "Description": lambda x: list(x),
          "Country": "first",
          "Quantity": "sum",
          "amount_spent": "sum"
      })
    )

  orders_per_customer = grouped["CustomerID"].value_counts() #value_counts autmoatically counts and SORTS in descending order so we can just grab the head

  return_list = [customer for customer in orders_per_customer.head(5).index]

  return return_list

Overwriting top_five_cust.py

#### Call your `top_five_cust` function on the now cleaned `df` below to view the results:

In [64]:
%run top_five_cust.py
# Here the correct arguments should be added
df=data_cleaner(df)
top_five_cust(df)

[12748.0, 17850.0, 14911.0, 15061.0, 13777.0]

#### 8) Create the **`top_five_spenders`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have spent the most money.** Use the newly created **`amount_spent`** column for this exercise.

In [65]:
%%writefile top_five_spenders.py
import pandas as pd

def top_five_spenders(df) -> list:
    """Returns the tiop 5 custoemrs who spent the most money according to the input dataframe."""
    df = df.copy()

    grouped = df.groupby("CustomerID", as_index=False).agg({"amount_spent" :"sum"})
    sorted_spenders = grouped.sort_values(by="amount_spent", ascending=False)

    return sorted_spenders[:5]["CustomerID"].tolist()

Overwriting top_five_spenders.py

#### Call your `top_five_spenders` function on the now cleaned `df` below to view the results:

In [66]:
%run top_five_spenders.py
# Here the correct arguments should be added
df=data_cleaner(df)
top_five_spenders(df)

[18102.0, 15061.0, 16029.0, 14646.0, 14911.0]

#### 9) Create the **`most_expensive_item`** function, which receives a Pandas DataFrame as input and **returns a string representing the `Description` of the most expensive item.**

In [67]:
%%writefile most_expensive_item.py
import pandas as pd

def most_expensive_item(df) -> str:
     """Returns the most expensive item in the input dataframe."""
     df=df.copy()

     df = df[df["StockCode"].astype(str).str.isnumeric()] #so we only get valid orders and avoid 'POSTAGE', 'Manual' etc. since we want an actual item 

     df = df.sort_values(by="UnitPrice", ascending=False)
     df = df.drop_duplicates(subset="Description")

     most_expensive = df.iloc[0]["Description"]
     return most_expensive

Overwriting most_expensive_item.py

#### Call your `most_expensive_item` function on the now cleaned `df` below to view the results:

In [68]:
%run most_expensive_item.py
# Here the correct arguments should be added
df=data_cleaner(df)
most_expensive_item(df)

'VINTAGE RED KITCHEN CABINET'

#### 10) Create the **`top_twenty_countries`** function, which receives a Pandas DataFrame as input and **returns a list of strings containing the 20 countries with the highest number of orders.** Note that this follows the same logic as question 7, so be careful with repeated orders (same invoice numbers)!

In [69]:
%%writefile top_twenty_countries.py
import pandas as pd
from typing import List

def top_twenty_countries(df) -> List[str]:
  """Returns the 20 countries with the highest number of orders from the input dataframe."""
  df=df.copy()

  grouped = (
    df.groupby("InvoiceNo", as_index=False)
      .agg({
          "Country": "first"
      })
    )

  country_counts = grouped["Country"].value_counts()
  
  return_list = [country for country in country_counts.head(20).index]
  return return_list

Overwriting top_twenty_countries.py

#### Call your `top_twenty_countries` function on the now cleaned `df` below to view the results:

In [70]:
%run top_twenty_countries.py
# Here the correct arguments should be added

df=data_cleaner(df)
top_twenty_countries(df)

['United Kingdom',
 'Germany',
 'France',
 'EIRE',
 'Portugal',
 'Belgium',
 'Lithuania',
 'Spain',
 'Australia',
 'Netherlands',
 'Japan',
 'Norway',
 'Italy',
 'Switzerland',
 'Sweden',
 'Poland',
 'Channel Islands',
 'Iceland',
 'Denmark',
 'Cyprus']

#### 11) Create the **`popular_products`** function, which receives a Pandas DataFrame as input and **returns a list of strings representing the descriptions (`Description`) of the 5 products purchased the most times.** Note that “number of times” refers only to how often an item was purchased, not the quantity of each order!

In [71]:
%%writefile popular_products.py
import pandas as pd
from typing import List

def popular_products(df) -> List[str]:
    """Return the top 5 most frequently bought items from the input dataframe."""
    df = df.copy()
    df = df[df["StockCode"].astype(str).str.isnumeric()] #so we only get valid orders and avoid 'POSTAGE', 'Manual' etc. since we want an actual item 

    description_counts = df["Description"].value_counts()

    return description_counts.head(5).index.tolist()

Overwriting popular_products.py

#### Call your `popular_products` function on the now cleaned `df` below to view the results:

In [72]:
%run popular_products.py
# Here the correct arguments should be added
df=data_cleaner(df)
popular_products(df)

['HAND WARMER BABUSHKA DESIGN',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'REGENCY CAKESTAND 3 TIER',
 'SCOTTIE DOG HOT WATER BOTTLE',
 'CHOCOLATE HOT WATER BOTTLE']

#### 12) Create the **`country_best_product`** function, which receives a Pandas DataFrame and a string as input. The string represents a country. The function must **return** `None` if the country is not present in the DataFrame. Otherwise, it should **return the description of the item that is most frequently purchased in that country.** Remember that “most frequently purchased” refers to how often the item appears, not the quantity purchased.

In [73]:
%%writefile country_best_product.py
import pandas as pd

def country_best_product(df, country) -> str:
    """Returns the most frequently bought item in the input country according to the input dataframe."""
    df = df.copy()
    df = df[df["StockCode"].astype(str).str.isnumeric()] #so we only get valid orders and avoid 'POSTAGE', 'Manual' etc. since we want an actual item 

    if country not in df["Country"].values:
        return None
    
    df = df[df["Country"] == country]

    product_counts = df["Description"].value_counts()

    return product_counts.index[0] if not product_counts.empty else None

Overwriting country_best_product.py

#### Call your `country_best_product` function on the now cleaned `df` and "Portugal" below to view the results:

In [74]:
%run country_best_product.py
# Here the correct arguments should be added
df=data_cleaner(df)
country_best_product(df, "France")

'RED TOADSTOOL LED NIGHT LIGHT'

# Part II

#### 13) Create the **`load_customer_data(filepath: str)`** function which loads the **`customer_info.csv`** file into a Pandas DataFrame and returns it. Call this function and save the result into a DataFrame named **`customers`**.

In [75]:
%%writefile load_customer_data.py
import pandas as pd

def load_customer_data(filepath: str) -> pd.DataFrame:
    """Returns the customer info dataframe if the provided directory path to the csv is valid, otherwise it raises an error.
    - If using global Windows paths, prefix string with 'r'"""
    safepath = filepath.strip().replace("\\", "/") # to handle different types of filepaths and backspaces at the ends
    try:
        
        return pd.read_csv(safepath)
    except Exception as error_class:
        print(load_customer_data.__doc__) #to also get the Windows path warning with the error
        raise ValueError("Invalid input") from error_class

Overwriting load_customer_data.py

In [76]:
# Use the loading function with the file paths. Replace '...' with the path to 'customer_info.csv'
%run load_customer_data.py
# Here the correct arguments should be added
customers = load_customer_data("teste/customer_info.csv")

customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Age,YearsActive,NumChildren,VIP,EstimatedAnnualSpend
0,17850.0,Rowan,White,rowan.white0.0@mail.test,+6-642-419-1833,56,11,2,No,5352.29
1,13047.0,Casey,Johnson,casey.johnson7.0@sample.net,+5-208-357-5102,20,2,1,No,1554.88
2,12583.0,Morgan,Harris,morgan.harris3.0@sample.net,+1-877-772-1298,34,7,2,No,3396.24
3,13748.0,Casey,Harris,casey.harris8.0@demo.org,+5-854-311-7228,56,5,4,No,1243.36
4,15100.0,Riley,Thompson,riley.thompson0.0@mail.test,+2-818-901-1646,42,1,3,No,661.39

#### 14) Create the **`average_age`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should use the one created in exercise 7) to obtain the list of the top 5 customers, and then **return a float representing the average age of these top 5 customers (those who placed the most orders).**

In [77]:
%%writefile average_age.py
import pandas as pd
from top_five_cust import top_five_cust

def average_age(df, customers) -> float:
    """Returns the average age of the top 5 customers according to the customer information and retail dataframes."""
    df = df.copy()
    customers = customers.copy()

    top_5 = top_five_cust(df)
    customers_top5_only = customers[customers["CustomerID"].isin(top_5)]

    return customers_top5_only["Age"].mean()

Overwriting average_age.py

#### Call your `average_age` function on the now cleaned `df` and `customers` below to view the results:

In [78]:
%run average_age.py
# Here the correct arguments should be added
average_age(df, customers)

np.float64(51.0)

#### 15) Create the **`most_active`** function, which takes the customer DataFrame as input and **returns a list of strings containing the emails of the customers who have been active for the longest period of time (`YearsActive`).**

In [79]:
%%writefile most_active.py
import pandas as pd
from typing import List

def most_active(customers) -> List[str]:
    """Returns a list of the customers who have been active for the longest according to the customers dataframe."""
    customers = customers.copy()

    most_active_customers = customers[customers["YearsActive"] == customers["YearsActive"].max()]

    return most_active_customers["Email"].sort_values().tolist() #sorted so me and my assignment partner can compare values

Overwriting most_active.py

#### Call your `most_active` function on the `customers` DataFrame below to view the results:

In [80]:
%run most_active.py
# Here the correct arguments should be added
most_active(customers)

['alex.anderson6.0@example.com',
 'alex.clark2.0@no-reply.io',
 'alex.garcia9.0@no-reply.io',
 'alex.harris6.0@example.com',
 'alex.harris8.0@example.com',
 'alex.king5.0@example.com',
 'alex.lee4.0@sample.net',
 'alex.lee7.0@demo.org',
 'alex.smith2.0@no-reply.io',
 'alex.smith7.0@example.com',
 'alex.taylor9.0@sample.net',
 'alex.thomas6.0@example.com',
 'alex.thomas6.0@no-reply.io',
 'alex.thompson0.0@example.com',
 'alex.thompson5.0@example.com',
 'alex.thompson6.0@no-reply.io',
 'alex.walker3.0@mail.test',
 'alex.walker5.0@demo.org',
 'alex.walker5.0@sample.net',
 'alex.young0.0@mail.test',
 'avery.allen1.0@sample.net',
 'avery.clark1.0@no-reply.io',
 'avery.clark6.0@demo.org',
 'avery.hall3.0@no-reply.io',
 'avery.king1.0@demo.org',
 'avery.lewis4.0@example.com',
 'avery.martin6.0@example.com',
 'avery.taylor5.0@mail.test',
 'avery.taylor6.0@sample.net',
 'avery.taylor8.0@demo.org',
 'avery.taylor8.0@mail.test',
 'avery.thomas0.0@no-reply.io',
 'avery.thompson0.0@example.com',
 'avery.thompson8.0@mail.test',
 'avery.walker1.0@example.com',
 'avery.white8.0@example.com',
 'avery.young0.0@demo.org',
 'avery.young0.0@example.com',
 'avery.young6.0@sample.net',
 'avery.young7.0@demo.org',
 'blake.allen2.0@demo.org',
 'blake.anderson1.0@example.com',
 'blake.clark8.0@sample.net',
 'blake.garcia4.0@mail.test',
 'blake.garcia7.0@no-reply.io',
 'blake.harris9.0@sample.net',
 'blake.jackson0.0@sample.net',
 'blake.jackson1.0@no-reply.io',
 'blake.jackson2.0@sample.net',
 'blake.jackson5.0@demo.org',
 'blake.johnson4.0@sample.net',
 'blake.johnson6.0@demo.org',
 'blake.johnson8.0@mail.test',
 'blake.king1.0@no-reply.io',
 'blake.king6.0@demo.org',
 'blake.lee4.0@example.com',
 'blake.lee5.0@example.com',
 'blake.lewis2.0@example.com',
 'blake.martin8.0@example.com',
 'blake.taylor0.0@no-reply.io',
 'blake.taylor3.0@mail.test',
 'blake.taylor4.0@mail.test',
 'blake.thomas0.0@mail.test',
 'blake.thomas0.0@sample.net',
 'blake.thomas2.0@sample.net',
 'blake.thompson4.0@no-reply.io',
 'blake.thompson5.0@sample.net',
 'blake.white0.0@mail.test',
 'cameron.allen2.0@demo.org',
 'cameron.brown3.0@mail.test',
 'cameron.brown9.0@no-reply.io',
 'cameron.clark5.0@demo.org',
 'cameron.clark7.0@sample.net',
 'cameron.hall5.0@example.com',
 'cameron.hall9.0@example.com',
 'cameron.harris7.0@mail.test',
 'cameron.jackson1.0@sample.net',
 'cameron.lee4.0@demo.org',
 'cameron.lee7.0@no-reply.io',
 'cameron.lewis0.0@demo.org',
 'cameron.lewis4.0@mail.test',
 'cameron.martin7.0@demo.org',
 'cameron.smith2.0@mail.test',
 'cameron.taylor1.0@no-reply.io',
 'cameron.taylor3.0@example.com',
 'cameron.thomas1.0@no-reply.io',
 'cameron.thomas2.0@demo.org',
 'cameron.thomas6.0@no-reply.io',
 'cameron.thomas7.0@mail.test',
 'cameron.thompson0.0@demo.org',
 'cameron.walker0.0@demo.org',
 'cameron.walker0.0@mail.test',
 'cameron.walker6.0@mail.test',
 'cameron.white4.0@no-reply.io',
 'casey.allen3.0@sample.net',
 'casey.allen6.0@no-reply.io',
 'casey.anderson8.0@mail.test',
 'casey.brown1.0@sample.net',
 'casey.brown6.0@demo.org',
 'casey.clark9.0@example.com',
 'casey.hall1.0@demo.org',
 'casey.harris3.0@no-reply.io',
 'casey.harris9.0@demo.org',
 'casey.jackson6.0@sample.net',
 'casey.johnson6.0@no-reply.io',
 'casey.johnson6.0@no-reply.io',
 'casey.king4.0@sample.net',
 'casey.lee8.0@example.com',
 'casey.lee8.0@example.com',
 'casey.martin4.0@demo.org',
 'casey.martin5.0@demo.org',
 'casey.smith4.0@no-reply.io',
 'casey.smith8.0@demo.org',
 'casey.walker7.0@demo.org',
 'chris.allen1.0@demo.org',
 'chris.anderson9.0@example.com',
 'chris.brown6.0@no-reply.io',
 'chris.clark0.0@no-reply.io',
 'chris.clark4.0@mail.test',
 'chris.clark9.0@no-reply.io',
 'chris.hall3.0@sample.net',
 'chris.hall5.0@mail.test',
 'chris.martin9.0@mail.test',
 'chris.smith8.0@demo.org',
 'chris.thomas1.0@demo.org',
 'chris.thompson1.0@no-reply.io',
 'chris.thompson5.0@example.com',
 'chris.young2.0@no-reply.io',
 'drew.clark5.0@demo.org',
 'drew.clark5.0@no-reply.io',
 'drew.garcia3.0@demo.org',
 'drew.king9.0@mail.test',
 'drew.martin3.0@demo.org',
 'drew.martin6.0@no-reply.io',
 'drew.taylor2.0@example.com',
 'drew.taylor5.0@mail.test',
 'drew.taylor7.0@example.com',
 'drew.thomas2.0@no-reply.io',
 'drew.thompson9.0@demo.org',
 'drew.white7.0@example.com',
 'drew.young3.0@example.com',
 'drew.young7.0@demo.org',
 'drew.young9.0@demo.org',
 'elliot.allen5.0@example.com',
 'elliot.anderson2.0@no-reply.io',
 'elliot.clark1.0@example.com',
 'elliot.clark3.0@mail.test',
 'elliot.clark8.0@mail.test',
 'elliot.harris9.0@mail.test',
 'elliot.jackson9.0@demo.org',
 'elliot.king1.0@sample.net',
 'elliot.lee4.0@mail.test',
 'elliot.lewis1.0@demo.org',
 'elliot.martin1.0@no-reply.io',
 'elliot.taylor0.0@mail.test',
 'elliot.thomas5.0@example.com',
 'elliot.thomas5.0@sample.net',
 'elliot.thompson6.0@example.com',
 'elliot.thompson6.0@example.com',
 'elliot.walker3.0@demo.org',
 'elliot.walker9.0@mail.test',
 'elliot.white2.0@sample.net',
 'elliot.white4.0@mail.test',
 'elliot.young5.0@mail.test',
 'elliot.young8.0@demo.org',
 'elliot.young8.0@no-reply.io',
 'hayden.allen2.0@sample.net',
 'hayden.anderson4.0@mail.test',
 'hayden.brown1.0@demo.org',
 'hayden.brown5.0@sample.net',
 'hayden.clark0.0@demo.org',
 'hayden.clark4.0@demo.org',
 'hayden.clark5.0@mail.test',
 'hayden.garcia7.0@sample.net',
 'hayden.hall3.0@example.com',
 'hayden.hall9.0@no-reply.io',
 'hayden.harris4.0@mail.test',
 'hayden.johnson5.0@demo.org',
 'hayden.king2.0@mail.test',
 'hayden.lewis0.0@demo.org',
 'hayden.martin7.0@mail.test',
 'hayden.taylor9.0@sample.net',
 'hayden.young6.0@example.com',
 'jamie.anderson2.0@example.com',
 'jamie.anderson3.0@demo.org',
 'jamie.anderson7.0@no-reply.io',
 'jamie.brown1.0@no-reply.io',
 'jamie.brown3.0@mail.test',
 'jamie.brown5.0@mail.test',
 'jamie.brown6.0@no-reply.io',
 'jamie.garcia4.0@no-reply.io',
 'jamie.hall2.0@no-reply.io',
 'jamie.johnson6.0@example.com',
 'jamie.johnson7.0@demo.org',
 'jamie.johnson9.0@mail.test',
 'jamie.king8.0@demo.org',
 'jamie.lee7.0@mail.test',
 'jamie.smith7.0@example.com',
 'jamie.taylor9.0@sample.net',
 'jamie.thomas2.0@mail.test',
 'jamie.thompson6.0@mail.test',
 'jamie.thompson6.0@no-reply.io',
 'jamie.thompson7.0@mail.test',
 'jamie.young5.0@no-reply.io',
 'jamie.young8.0@demo.org',
 'jordan.clark2.0@demo.org',
 'jordan.hall0.0@example.com',
 'jordan.harris8.0@example.com',
 'jordan.lee7.0@sample.net',
 'jordan.lee9.0@mail.test',
 'jordan.lewis0.0@demo.org',
 'jordan.lewis0.0@mail.test',
 'jordan.lewis4.0@sample.net',
 'jordan.lewis9.0@no-reply.io',
 'jordan.taylor0.0@demo.org',
 'jordan.thomas6.0@no-reply.io',
 'jordan.thomas8.0@mail.test',
 'jordan.walker1.0@mail.test',
 'jordan.walker7.0@no-reply.io',
 'jordan.walker8.0@example.com',
 'jordan.walker9.0@sample.net',
 'jordan.white4.0@no-reply.io',
 'jordan.white9.0@sample.net',
 'jordan.young1.0@no-reply.io',
 'jordan.young1.0@sample.net',
 'logan.allen9.0@example.com',
 'logan.anderson1.0@example.com',
 'logan.anderson8.0@mail.test',
 'logan.brown5.0@example.com',
 'logan.brown6.0@demo.org',
 'logan.brown9.0@example.com',
 'logan.clark0.0@sample.net',
 'logan.clark4.0@mail.test',
 'logan.garcia5.0@example.com',
 'logan.johnson7.0@demo.org',
 'logan.king8.0@example.com',
 'logan.martin6.0@sample.net',
 'logan.thomas4.0@example.com',
 'logan.thompson1.0@example.com',
 'logan.walker0.0@demo.org',
 'logan.white2.0@example.com',
 'logan.white4.0@demo.org',
 'logan.young9.0@demo.org',
 'morgan.allen6.0@sample.net',
 'morgan.allen8.0@mail.test',
 'morgan.brown0.0@mail.test',
 'morgan.clark2.0@sample.net',
 'morgan.harris1.0@demo.org',
 'morgan.jackson7.0@mail.test',
 'morgan.johnson4.0@no-reply.io',
 'morgan.johnson6.0@demo.org',
 'morgan.king1.0@example.com',
 'morgan.lee6.0@example.com',
 'morgan.lewis2.0@example.com',
 'morgan.lewis5.0@demo.org',
 'morgan.lewis5.0@no-reply.io',
 'morgan.martin3.0@example.com',
 'morgan.taylor2.0@sample.net',
 'morgan.thomas0.0@no-reply.io',
 'morgan.thomas7.0@sample.net',
 'morgan.thompson0.0@example.com',
 'morgan.thompson8.0@mail.test',
 'morgan.young0.0@sample.net',
 'parker.brown9.0@demo.org',
 'parker.garcia6.0@example.com',
 'parker.harris0.0@example.com',
 'parker.harris1.0@example.com',
 'parker.harris3.0@example.com',
 'parker.harris4.0@mail.test',
 'parker.harris5.0@no-reply.io',
 'parker.jackson3.0@demo.org',
 'parker.jackson6.0@demo.org',
 'parker.johnson4.0@demo.org',
 'parker.king5.0@no-reply.io',
 'parker.king7.0@sample.net',
 'parker.lee0.0@sample.net',
 'parker.lee7.0@no-reply.io',
 'parker.martin2.0@mail.test',
 'parker.martin5.0@mail.test',
 'parker.martin8.0@example.com',
 'parker.taylor7.0@sample.net',
 'parker.thompson6.0@no-reply.io',
 'parker.walker9.0@mail.test',
 'parker.young1.0@no-reply.io',
 'parker.young2.0@mail.test',
 'parker.young8.0@example.com',
 'parker.young9.0@demo.org',
 'quinn.allen2.0@demo.org',
 'quinn.allen2.0@demo.org',
 'quinn.allen9.0@mail.test',
 'quinn.anderson4.0@sample.net',
 'quinn.garcia1.0@mail.test',
 'quinn.hall7.0@example.com',
 'quinn.harris8.0@no-reply.io',
 'quinn.johnson0.0@no-reply.io',
 'quinn.king8.0@sample.net',
 'quinn.lee2.0@mail.test',
 'quinn.lee7.0@demo.org',
 'quinn.lee7.0@no-reply.io',
 'quinn.lee8.0@example.com',
 'quinn.smith2.0@sample.net',
 'quinn.smith4.0@example.com',
 'quinn.smith6.0@mail.test',
 'quinn.white9.0@sample.net',
 'quinn.young7.0@example.com',
 'reese.allen9.0@sample.net',
 'reese.anderson0.0@no-reply.io',
 'reese.anderson0.0@no-reply.io',
 'reese.anderson3.0@no-reply.io',
 'reese.brown2.0@mail.test',
 'reese.brown4.0@demo.org',
 'reese.clark5.0@sample.net',
 'reese.hall6.0@demo.org',
 'reese.harris4.0@no-reply.io',
 'reese.king4.0@example.com',
 'reese.king5.0@mail.test',
 'reese.king9.0@sample.net',
 'reese.lee0.0@sample.net',
 'reese.lee8.0@demo.org',
 'reese.lewis0.0@example.com',
 'reese.lewis1.0@demo.org',
 'reese.lewis9.0@demo.org',
 'reese.taylor5.0@demo.org',
 'reese.taylor5.0@sample.net',
 'reese.taylor9.0@example.com',
 'reese.thompson8.0@sample.net',
 'reese.white5.0@demo.org',
 'riley.allen2.0@example.com',
 'riley.anderson2.0@sample.net',
 'riley.garcia3.0@sample.net',
 'riley.harris9.0@example.com',
 'riley.king5.0@sample.net',
 'riley.taylor1.0@example.com',
 'riley.taylor7.0@mail.test',
 'riley.white2.0@demo.org',
 'riley.white3.0@sample.net',
 'riley.white6.0@demo.org',
 'riley.young2.0@example.com',
 'rowan.allen3.0@sample.net',
 'rowan.allen6.0@example.com',
 'rowan.anderson1.0@sample.net',
 'rowan.anderson2.0@no-reply.io',
 'rowan.anderson3.0@mail.test',
 'rowan.brown7.0@sample.net',
 'rowan.clark0.0@example.com',
 'rowan.garcia1.0@mail.test',
 'rowan.garcia2.0@example.com',
 'rowan.harris4.0@sample.net',
 'rowan.jackson3.0@demo.org',
 'rowan.king0.0@demo.org',
 'rowan.king0.0@no-reply.io',
 'rowan.lewis4.0@demo.org',
 'rowan.lewis7.0@example.com',
 'rowan.lewis9.0@sample.net',
 'rowan.smith3.0@example.com',
 'rowan.thomas1.0@sample.net',
 'rowan.thomas2.0@demo.org',
 'rowan.thomas2.0@mail.test',
 'rowan.thomas5.0@mail.test',
 'rowan.thomas7.0@no-reply.io',
 'rowan.thompson1.0@demo.org',
 'rowan.thompson9.0@example.com',
 'rowan.thompson9.0@no-reply.io',
 'rowan.walker5.0@mail.test',
 'rowan.walker9.0@demo.org',
 'rowan.white5.0@example.com',
 'rowan.young2.0@no-reply.io',
 'rowan.young3.0@no-reply.io',
 'sam.allen0.0@no-reply.io',
 'sam.anderson5.0@example.com',
 'sam.harris3.0@example.com',
 'sam.jackson5.0@no-reply.io',
 'sam.johnson5.0@example.com',
 'sam.lee3.0@example.com',
 'sam.martin6.0@demo.org',
 'sam.taylor0.0@sample.net',
 'sam.thomas3.0@demo.org',
 'sam.thomas4.0@mail.test',
 'sam.thomas5.0@sample.net',
 'sam.thomas7.0@example.com',
 'sam.walker8.0@example.com',
 'sam.white0.0@example.com',
 'sam.white6.0@mail.test',
 'sam.young6.0@example.com',
 'taylor.clark9.0@example.com',
 'taylor.garcia3.0@no-reply.io',
 'taylor.jackson6.0@demo.org',
 'taylor.king2.0@example.com',
 'taylor.king3.0@no-reply.io',
 'taylor.lewis4.0@demo.org',
 'taylor.lewis9.0@example.com',
 'taylor.martin1.0@example.com',
 'taylor.smith2.0@mail.test',
 'taylor.smith9.0@example.com',
 'taylor.thomas2.0@mail.test',
 'taylor.thompson5.0@example.com',
 'taylor.walker0.0@sample.net',
 'taylor.walker4.0@mail.test',
 'taylor.walker5.0@no-reply.io',
 'taylor.white3.0@mail.test',
 'taylor.white6.0@example.com',
 'taylor.young7.0@mail.test']

#### 16) Create the **`parenthood_marketing`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a list of 5 strings representing the countries with the highest average number of children among their customers.**

In [81]:
%%writefile parenthood_marketing.py
import pandas as pd
from typing import List

def parenthood_marketing(df, customers) -> List[str]:
    """
    IF YOURE READING THIS, THIS ONE IS WRONG, YOUR VERSION is THE ONE WITH THE CORRECT JOIN TYPE.
    





    Returns the top 5 countries with customers who on average have more children according to the customer information and retail dataframes.   

    df = df.copy()
    customers = customers.copy()

    id_country = df[["CustomerID", "Country"]].drop_duplicates()
    merged = pd.merge(customers, id_country, on="CustomerID", how="left")

    parenthood_mean = (
        merged.groupby("Country")["NumChildren"]
        .mean()
        .sort_values(ascending=False)
    )

    return parenthood_mean.head(5).index.tolist()
    """
    pass

Overwriting parenthood_marketing.py

#### Call your `parenthood_marketing` function on the now cleaned `df` and `customers` below to view the results:

In [82]:
%run parenthood_marketing.py
# Here the correct arguments should be added
parenthood_marketing(df, customers)

In [83]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

#### 17) Create the **`babuska_clients`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a float representing the average age of the customers who purchased the** **`"HAND WARMER BABUSHKA DESIGN"`** **item.**

In [84]:
%%writefile babuska_clients.py
import pandas as pd

def babuska_clients(df, customers) -> float:
    """Returns average age of the customers who bought a 'HAND WARMER BABUSHKA DESIGN' according to the customer information and retail dataframes."""
    df = df.copy()
    customers = customers.copy()

    babuska = df[df["Description"] == "HAND WARMER BABUSHKA DESIGN"]
    ids = babuska[["CustomerID", "InvoiceNo"]].drop_duplicates()
    babuska_customers = customers[customers["CustomerID"].isin(ids["CustomerID"])]
    avg_age = babuska_customers["Age"].mean()

    return avg_age

Overwriting babuska_clients.py

#### Call your `babuska_clients` function on the now cleaned `df` and `customers` below to view the results:

In [85]:
%run babuska_clients.py
# Here the correct arguments should be added
babuska_clients(df, customers)

np.float64(47.24561403508772)

# Part III

#### 18) Create the **`read_sport_dfs(teams_filepath: str, managers_filepath: str)`** function which loads the **`managers.csv`** and the **`teams.csv`** file into two Pandas DataFrames and returns them. Call this function and save the results into DataFrames named **`teams`** and **`managers`** respectively.

In [86]:
%%writefile read_sport_dfs.py
import pandas as pd
from typing import Tuple

def read_sport_dfs(teams_filepath: str, managers_filepath: str) -> Tuple[pd.DataFrame]:
    """Returns the teams and managers dataframes if the provided directory path to the csv is valid, otherwise it raises an error.
    - If using global Windows paths, prefix string with 'r'"""
    safepath_teams = teams_filepath.strip().replace("\\", "/") # to handle different types of filepaths and backspaces at the ends
    safepath_managers = managers_filepath.strip().replace("\\", "/") 
    try:
        teams = pd.read_csv(safepath_teams)
        managers = pd.read_csv(safepath_managers)
    except Exception as error_class:
        print(read_sport_dfs.__doc__) #to also get the Windows path warning with the error
        raise ValueError("Invalid input") from error_class
    
    return teams, managers

Overwriting read_sport_dfs.py

In [87]:
# Use the loading function with the file paths. Replace '...' with the correct paths. They should reside in your current working directory.
%run read_sport_dfs.py
# Here the correct arguments should be added
teams, managers = read_sport_dfs('teste/Teams.csv', 'teste/Managers.csv')
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871-12-21,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.83,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871-09-07,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.82,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871-06-12,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.81,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871-02-13,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,NaN,0.80,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871-08-06,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,NaN,0.83,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [88]:
managers.head(12)

           managerID  yearID teamID lgID  inseason   G   W   L  rank plyrMgr
0      wr ighha0 1m     1871    BS1  NaN         1  31  20  10     3       Y
1        woodji0 1m     1871    CH1  NaN         1  28  19   9     2       Y
2    p ab o r c h01m    1871    CL1  NaN         1  29  10  19     8       Y
3         lennobi01m    1871    FW1  NaN         1  14   5   9     8       Y
4     de an e ha01 m    1871    FW1  NaN         2   5   2   3     8       Y
5      ferg ubo01 m     1871    NY2  NaN         1  33  16  17     5       Y
6   mc bri di 0 1 m     1871    PH1  NaN         1  28  21   7     1       Y
7         hastisc01m    1871    RC1  NaN         1  25   4  21     9       Y
8          pikeli01m    1871    TRO  NaN         1   4   1   3     6       Y
9    c r ave b i0 1m    1871    TRO  NaN         2  25  12  12     6       Y
10    yo ung ni 99 m    1871    WS3  NaN         1  32  15  15     4       N
11    c rav eb i0 1m    1872    BL1  NaN         1  41  27  13     2       Y

#### 19) Create the **`go_sports`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function **returns a DataFrame containing only the team name, its managerID, the year (yearID) in the ```yyyy``` format, the number of wins (`W`) per team and team number of losses (`L`) per team.**

In [89]:
%%writefile go_sports.py
import pandas as pd

def go_sports(teams, managers) -> pd.DataFrame:
    """Returns a dataframe containing the team name, manager ID(s), yearID, wins and losses according to the teams and managers dataframes."""
    teams = teams.copy()
    managers = managers.copy()

    teams["yearID"] = pd.to_datetime(teams["yearID"], errors="coerce").dt.year
    managers["yearID"] = pd.to_numeric(managers["yearID"], errors="coerce").astype("Int64")

    managers["managerID"] = managers["managerID"].str.replace(" ", "", regex=False) #remove spaces

    managers = (
        managers.groupby(["teamID", "yearID", "managerID"], as_index=False)[["W", "L"]] #we have to do this to group the now cleaned managerIDs
        .sum())
    teams = teams[["teamID", "yearID", "name" ]]
    managers = managers[["teamID", "yearID", "managerID", "W", "L"]].drop_duplicates()

    final_df = pd.merge(
        teams,
        managers,   
        on=["teamID", "yearID"],
        how="inner"
    )
    final_df = final_df.sort_values(["teamID", "yearID", "managerID"])

    #to test: we should keep in mind a year of baseball has about 162 games, to check our answer we just had all games in a season and it seems to make sense
    return final_df[["name", "managerID", "yearID", "W", "L"]]

Overwriting go_sports.py

#### Call your `go_sports` function with the `managers` and `teams` DataFrames below to view the results:

In [90]:
%run go_sports.py
# Here the correct arguments should be added
go_sports(teams, managers)

                       name   managerID  yearID   W   L
192   Altoona Mountain City  curtied99m    1884   6  19
2735         Anaheim Angels  collite99m    1997  84  78
2766         Anaheim Angels  collite99m    1998  85  77
2798         Anaheim Angels  collite99m    1999  51  82
2799         Anaheim Angels  maddojo99m    1999  19  10
...                     ...         ...     ...  ..  ..
494     Washington Senators  doyleja01m    1898   8   9
495     Washington Senators  irwinar01m    1898  10  19
496     Washington Senators  mcguide01m    1898  21  47
511     Washington Senators  irwinar01m    1899  54  98
209    Washington Nationals  scanlmi99m    1884  47  65

[3242 rows x 5 columns]

#### 20) Create the **`go_manager`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function first calls the `go_sports` function with managers and teams input and then saves the result in a variable called sports. Then, this function **returns the ID (`managerID`) as a correct string of the manager who has most wins (`W`) over their careers.**

In [ ]:
%%writefile go_manager.py
import pandas as pd
from go_sports import go_sports

def go_manager(teams, managers) -> str:
   """Returns the managerID of the manager with the most winds across his career according to the input dataframes."""
   # Step 1: Build the sports DataFrame
   sports = go_sports(teams, managers)
   sports["managerID"] = sports["managerID"].astype(str)

   grouped_managers = sports.groupby("managerID", as_index=False)
   manager_wins = grouped_managers["W"].sum()
   best = manager_wins.sort_values("W", ascending=False).iloc[0]["managerID"]

   return best

Overwriting go_manager.py

#### Call your `go_manager` function with the `managers` and `teams` DataFrames below to view the results:

In [92]:
%run go_manager.py
# Here the correct arguments should be added
go_manager(teams, managers)

'mackco01m'